.banner {
  > img {
    height: 400px;
    width: 1600px;
  }
}
.row {
  padding: 2rem;
  background-color: rgb(16, 16, 16);
  > h2 {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  > div {
    display: flex;
    justify-content: space-evenly;
    overflow-x: auto;
    justify-content: center;
    margin: 10px;
    padding: 10px;
  }
}
.card {
  width: 400px;
  height: 150px;
  cursor: pointer;
  padding: 3px;
  transition: transform 0.5s;

  &:hover {
    transform: translate(-10px) scale(1.05);
  }
}
